.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-list {
    margin: 2%;
}

.AvatarCreate {
    width: 8%;
    display: inline-block;
    height: 100%;
    padding:4%;
    background-color: #123368;
    text-align: center;
    color:white;
    border-radius: 20px;
    margin-right: 10px;
}

.App-listTitle {
    -webkit-box-shadow: 2px 2px 2px 2px #e0e0e0;
    -moz-box-shadow: 2px 2px 2px 2px #e0e0e0;
    box-shadow: 2px 2px 2px 3px #e0e0e0;
}

.App-value {
    margin-top: 2%;
    -webkit-box-shadow: 2px 2px 2px 2px #e0e0e0;
    -moz-box-shadow: 2px 2px 2px 2px #e0e0e0;
    box-shadow: 2px 2px 2px 3px #e0e0e0;
}

.App-listHeader {
    width: 18%;
    height: 30%;
    text-align: left;
    padding: 1%;
    display: inline-block
}

.App-listvalue {
    width: 18%;
    height: 30%;
    text-align: left;
    padding: 1%;
    color: #434242ed;
    display: inline-block
}

.App-header {
    background-color: #222;
    height: 20px;
    padding: 20px;
    color: white;
    font-size: 1.5em;
}
